body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
    color: #fff;
	padding: 1rem;
	background-color: #702963;
    padding: 1rem;
    font-weight: 700;
    word-break: break-word;
    text-align: center;
    border-radius: 5px; 
    margin-bottom: 1rem;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
	
}

h2 {
	color: navy;
	text-align: left;
	grid-template-columns: 1 / 4;
}
h3 {
    text-align: center;
}

article p {
	text-align: justify;
}

.callout {
   	color: #fff;
	background-color: #702963;
    grid-column: 1 / 4;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}
