body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  main {
    padding: 20px;
  }

  /* body {
    opacity: 0;
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
} */
  
  h1 {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px;
    background: skyblue;
    color: #000;
  }
  
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  .image-block {
    display: inline-block;    
    text-align: center;       
    margin-bottom: 20px;     
  }
  
  .image-block p {
    max-width: 400px;         
    margin: 10px auto 0 auto; 
    font-size: 0.9em;
    line-height: 1.4em;
  }
  
   @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  footer {
    margin-top: 30px;
    padding: 10px;
    background: skyblue;
    color: #000;
  }